body {
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    cursor: pointer;
}

header {
    width: 100%;
    height: 30px;
}

header nav {
    display: flex;
    justify-content: flex-end;
}

.nav-right-section {
    width: 250px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-right-section a {
    margin-right: 25px;
    color: #000000DE;
}

ul {
    list-style: none;
}

.menu-icon {
    background-image: url("https://img.icons8.com/ios-glyphs/90/000000/circled-menu.png");
    width: 30px;
    background-size: contain;
    background-repeat: no-repeat;
}

.nav-right-section img {
    margin-left: 10px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

main {
    margin: 90px;
    text-align: center;
}

.main-logo {
    width: 0 auto;
    max-width: 300px;
    margin-bottom: 35px;
    
}

.main-input {
    width: 500px;
    margin: 0 auto;
    margin-bottom: 35px;
}

.main-input-container {
    width: 525px;
    border: 1px solid #dfe1e5;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-input-container input {
    border: none;
    width: 100%;
    height: 40px;
    outline: none;
}

.main-input-container:hover {
    box-shadow: 0 1px 6px 0px #22212447;
    border-color: #dfe1e5;
}

.search-icon,
.micro-icon,
.cam-icon {
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 0 8%;
}

.main-buttons div {
    display: inline-block;
}

.main-buttons button {
    border: 1px solid #e7b0f7;
    border-radius: 100px;
    height: 36px;
    background-color: #e7b0f7;
    margin-right: 10px;
    color: #3c4043;
    border-radius: 2px solid #e7b0f7;
}

.main-buttons button:hover {
    box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
    border: 1px solid #ffc8ff;
}

/* Estilo footer */
footer{
    background-color: #e4e4e4;
    width: 100%;
    height: 70px;
    position: absolute;
    font-size: 13px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    border-top: 1px solid #e4e4e4;
    

  
}
.footer-left{
    justify-content: space-around;
}
.footer-right{
    justify-content: space-around;
}
footer ul{
    margin: 10px;
    list-style: none;
    display: flex;
    padding-left: 1px;
}
footer ul li a{
    color: #70757a;
    margin: 10px;
    
}